h1 {
  font-family: 'Pacifico', cursive;
}

a {
  font-family: 'Cormorant Upright', serif;
  font-size: 30px;
}

.form-rounded {
	border-radius: 1rem;
}


form {
    padding-left: 200px;
    padding-top: 250px;
}
